html, body {
  margin: 0;
  width: 100%;
  min-height: 100%;
}

body {
  font-family: Arial, sans-serif;
  background: #eef5ee;
  padding: 20px;
  box-sizing: border-box;
}

.container {
  width: 95%;
  max-width: 8500px;
  margin: 15px auto;
  text-align: center;
}

h1 {
  color: #2e7d32;
}

.btn,
button {
  display: block;
  width: 260px;
  max-width: 100%;
  margin: 12px auto;
  padding: 15px;
  background: #2e7d32;
  color: white;
  text-decoration: none;
  border: none;
  border-radius: 12px;
  font-weight: bold;
  font-size: 16px;
}

input {
  width: 90%;
  max-width: 500px;
  padding: 15px;
  margin: 15px auto;
  display: block;
  border-radius: 12px;
  border: 1px solid #ccc;
  font-size: 17px;
  text-align: center;
}

.delivery {
  background: white;
  padding: 12px;
  border-radius: 16px;
  margin: 10px 0;
  box-shadow: 0 4px 12px rgba(0,0,0,0.10);
  text-align: left;
}

.stats {
  background: #e8f5e9;
  padding: 18px;
  border-radius: 16px;
  margin: 15px 0 20px 0;
  text-align: left;
  line-height: 1.8;
  font-size: 17px;
}

.status-pripravljeno,
.status-napoti,
.status-dostavljeno {
  padding: 6px 12px;
  border-radius: 10px;
  font-weight: bold;
  display: inline-block;
}

.status-pripravljeno {
  background: #e0e0e0;
}

.status-napoti {
  background: #ffcc80;
}

.status-dostavljeno {
  background: #a5d6a7;
}

.mini-delivery {
  background: #f1f8e9;
  padding: 12px;
  margin: 10px 0;
  border-radius: 10px;
  text-align: left;
}

#message {
  color: red;
  font-weight: bold;
}

.route-card {
  display: flex;
  gap: 15px;
  align-items: flex-start;
  background: white;
  padding: 18px;
  border-radius: 16px;
  margin: 15px 0;
  box-shadow: 0 4px 12px rgba(0,0,0,0.10);
  text-align: left;
}

.route-number {
  min-width: 42px;
  height: 42px;
  border-radius: 50%;
  background: #2e7d32;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

.route-content h3 {
  margin: 0 0 8px 0;
}

.route-content p {
  margin: 6px 0;
}
h1 {
  font-size: 24px;
}

h2 {
  font-size: 20px;
}

h3 {
  font-size: 17px;
}

p {
  font-size: 14px;
}

.btn,
button {
  padding: 10px;
  font-size: 14px;
}

.route-card {
  padding: 10px;
  margin: 8px 0;
}

.route-number {
  min-width: 32px;
  height: 32px;
}
.delivery{
    position:relative;
}

.delete-btn{
    position:absolute;
    top:10px;
    right:15px;
    cursor:pointer;
    color:red;
    font-size:20px;
    font-weight:bold;
}

.delete-btn:hover{
    color:darkred;
    transform:scale(1.2);
}

#podpis {
  width: 100%;
  max-width: 320px;
  height: 180px;
  border: 2px solid #333;
  border-radius: 10px;
  background: white;
  touch-action: none;
}
