html, body {
  margin: 0;
  width: 100%;
  height: 100%;
}

body {
  font-family: Arial, sans-serif;
  background: #eef5ee;
  display: grid;
  place-items: center;
}

.container {
  width: 90%;
  max-width: 420px;
  text-align: center;
}

.btn {
  display: block;
  width: 260px;
  margin: 15px auto;
  padding: 16px;
  background: #2e7d32;
  color: white;
  text-decoration: none;
  border-radius: 12px;
  font-weight: bold;
}input, button {
  width: 260px;
  padding: 16px;
  margin: 10px auto;
  display: block;
  border-radius: 12px;
  border: 1px solid #ccc;
  font-size: 18px;
  text-align: center;
}

button {
  background: #2e7d32;
  color: white;
  font-weight: bold;
  border: none;
}

#message {
  color: red;
  font-weight: bold;
}
